In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [15]:
attrition = pd.read_csv('attrition.csv')
df1 = pd.read_csv('df1.csv')
df2 = pd.read_csv('df2.csv')
target = pd.read_csv('test_target.csv')

In [16]:
attrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmployeeNumber  4449 non-null   int64
 1   Attrition       4302 non-null   object
dtypes: int64(1), object(1)
memory usage: 69.6+ KB

In [17]:
df2.isnull().sum()

EmployeeNumber                0
Over18                        0
OverTime                      0
PercentSalaryHike             0
PerformanceRating             0
RelationshipSatisfaction      0
StandardHours                 0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
WorkLifeBalance               0
YearsAtCompany                0
YearsInCurrentRole            0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
Attrition                   147
YearlyIncome                  0
dtype: int64

# EDA

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeNumber            4449 non-null   int64
 1   Over18                    4449 non-null   object
 2   OverTime                  4449 non-null   object
 3   PercentSalaryHike         4449 non-null   float64
 4   PerformanceRating         4449 non-null   float64
 5   RelationshipSatisfaction  4449 non-null   float64
 6   StandardHours             4449 non-null   float64
 7   StockOptionLevel          4449 non-null   float64
 8   TotalWorkingYears         4449 non-null   float64
 9   TrainingTimesLastYear     4449 non-null   float64
 10  WorkLifeBalance           4449 non-null   float64
 11  YearsAtCompany            4449 non-null   float64
 12  YearsInCurrentRole        4449 non-null   float64
 13  YearsSinceLastPromotion   4449 non-null   float64
 14  YearsWithCurrManager      4449 non-null   float64
 15  Attrition                 4302 non-null   object
 16  YearlyIncome              4449 non-null   float64
dtypes: float64(13), int64(1), object(3)
memory usage: 591.0+ KB

In [20]:
data = df1.join(df2, lsuffix='EmployeeNumber', rsuffix='EmployeeNumber')

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   EmployeeNumberEmployeeNumber  4449 non-null   int64
 1   Age                           4449 non-null   float64
 2   BusinessTravel                4449 non-null   object
 3   DailyRate                     4449 non-null   float64
 4   Department                    4449 non-null   object
 5   DistanceFromHome              4449 non-null   float64
 6   Education                     4449 non-null   float64
 7   EducationField                4449 non-null   object
 8   EmployeeCount                 4449 non-null   float64
 9   EnvironmentSatisfaction       4449 non-null   float64
 10  Gender                        4449 non-null   object
 11  HourlyRate                    4449 non-null   float64
 12  JobInvolvement                4449 non-null   float64
 13  JobLevel                      4449 non-null   float64
 14  JobRole                       4449 non-null   object
 15  JobSatisfaction               4449 non-null   float64
 16  MaritalStatus                 4449 non-null   object
 17  MonthlyIncome                 4449 non-null   float64
 18  MonthlyRate                   4449 non-null   float64
 19  NumCompaniesWorked            4449 non-null   float64
 20  EmployeeNumberEmployeeNumber  4449 non-null   int64
 21  Over18                        4449 non-null   object
 22  OverTime                      4449 non-null   object
 23  PercentSalaryHike             4449 non-null   float64
 24  PerformanceRating             4449 non-null   float64
 25  RelationshipSatisfaction      4449 non-null   float64
 26  StandardHours                 4449 non-null   float64
 27  StockOptionLevel              4449 non-null   float64
 28  TotalWorkingYears             4449 non-null   float64
 29  TrainingTimesLastYear         4449 non-null   float64
 30  WorkLifeBalance               4449 non-null   float64
 31  YearsAtCompany                4449 non-null   float64
 32  YearsInCurrentRole            4449 non-null   float64
 33  YearsSinceLastPromotion       4449 non-null   float64
 34  YearsWithCurrManager          4449 non-null   float64
 35  Attrition                     4302 non-null   object
 36  YearlyIncome                  4449 non-null   float64
dtypes: float64(26), int64(2), object(9)
memory usage: 1.3+ MB

In [31]:
data.describe()

,EmployeeNumberEmployeeNumber,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,YearlyIncome
count,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000,4449.0,4449.000000,4449.000000,4449.000000,4449.000000,...,4449.0,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000,4449.000000
mean,7956.865588,416.187458,801.017982,33339.433356,2.909867,1.0,2.719263,65.977073,2.739492,2.053495,...,80.0,0.785795,342.691616,2.808946,2.764217,302.743313,355.125646,385.886716,323.842886,77621.952798
std,17226.922333,1566.205147,405.605362,145352.131423,1.025184,0.0,1.093263,20.277369,0.712660,1.102979,...,0.0,0.848038,1484.151875,1.306080,0.710859,1352.211854,1456.887417,1572.914217,1409.370519,56194.865060
min,1.000000,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,30.000000,1.000000,1.000000,...,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,12108.000000
25%,1735.000000,31.000000,458.000000,2.000000,2.000000,1.0,2.000000,48.000000,2.000000,1.000000,...,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000,34788.000000
50%,5902.000000,36.000000,804.000000,8.000000,3.000000,1.0,3.000000,66.000000,3.000000,2.000000,...,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000,58512.000000
75%,7014.000000,45.000000,1162.000000,17.000000,4.000000,1.0,4.000000,84.000000,3.000000,3.000000,...,80.0,1.000000,17.000000,3.000000,3.000000,10.000000,7.000000,4.000000,7.000000,100152.000000
max,100146.000000,9890.000000,1499.000000,999590.000000,5.000000,1.0,4.000000,100.000000,4.000000,5.000000,...,80.0,3.000000,9939.000000,6.000000,4.000000,9984.000000,9937.000000,9990.000000,9882.000000,239988.000000

In [37]:
data.to_csv('data.csv')